.motto-section {
    padding: 5em 0;
    width: 100%;
    margin: 0 auto;
    font-family: Archer;

}

.motto-desc {

    display: flex;
    flex-direction: column;
    align-items: center;
}

.motto-desc img {

    display: block;
    max-width: 60px;
    height: auto;
    opacity: 0.6;

    overflow: hidden;
}

.motto-info {
    padding: 2em 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 1.2;
}

.motto-info h3 {

    font-size: 2em;
    text-align: center;
    padding-bottom: 2em;
    text-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
    font-weight: 500;
    letter-spacing: 1px;

}

.motto-info p {
    font-size: 1.5em;
    text-align: center;
    font-weight: 500;
    padding-bottom: 1em;
}

.motto-info span {
    padding: 1em 0;
    font-style: italic;
    font-weight: 10;
    letter-spacing: 1px;
}

.btn-join {
    font-size: 1.5em;
    color: var(--text-white);
    background-color: var(--red);
    padding: 0.5em 1.2em;
    border-radius: 10px;
}

.btn-join:hover {
    opacity: 0.7;
}

@media (min-width: 850px) {
    .motto-desc {
        max-width: 50%;
        margin: 0 auto;
    }

    .motto-info h3 {
        padding-bottom: 1em;
        font-size: 2.5em;
    }

    .motto-info p {
        font-size: 1.5em;
    }

    .motto-info span {
        letter-spacing: 1.3px;

    }

}