.motto-section {
    padding: 5em 0;
    width: 100%;
    margin: 0 auto;
    text-align: center;

}

.motto-desc {

    display: flex;
    flex-direction: column;
    align-items: center;
}

.motto-desc img {

    display: block;
    max-width: 60px;
    height: auto;
    opacity: 0.6;

    overflow: hidden;
}

.motto-info {
    padding: var(--m-space);
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 1.2;
    gap: 3em;
}

.motto-info h3 {

    font-size: calc(var(--l-font-size) - 8px);
    text-align: center;

    text-shadow: var(--text-shadow);
    font-weight: 500;
    letter-spacing: 1px;

}

.motto-info p {

    text-align: center;
    font-weight: 500;

}

.motto-info span {
    padding: 1em 0;
    font-style: italic;
    font-weight: 10;
    letter-spacing: 1px;
}


#btn-join {
    width: auto;
}



@media (min-width: 850px) {
    .motto-desc {
        max-width: 50%;
        margin: 0 auto;
    }

    .motto-info h3 {
        font-size: var(--l-font-size);
    }

    .motto-info p {
        font-size: var(--m-font-size);
    }

    .motto-info span {
        letter-spacing: 1.3px;

    }

}