body.active-sidebar .leaflet-container {
    pointer-events: none;
    /* Забраних движенията  с картата докато менюто е отворено */

}

body.active-sidebar .sidebar-map {
    transform: translateX(0);
    z-index: 1050;
    transition: transform 1.2s ease-in-out;
}

.sidebar-map {
    position: relative;
    background-image: url('../../../../public/images/sign-up/background.jpg');
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100vh;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
    overflow-y: auto;
    z-index: 9999;
    transform: translateY(100%);
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border-top: 1.2px solid rgba(0, 0, 0, 0.2);
    transition: transform 1.2s ease-in-out, height 1.2s ease-in-out;
}

.close-button {
    background: none;
    border: none;
    font-size: 1.5em;
    cursor: pointer;
    position: absolute;
    top: 5px;
    right: 10px;
    transition: opacity 1s ease-in-out;
}

.close-button {
    cursor: pointer;
    position: absolute;
    padding: 5px;
    margin: 0;
    padding: 0;
    border-radius: 3px;

    opacity: 0;
    pointer-events: all;
}

.active-sidebar .close-button {
    pointer-events: all;
    opacity: 1;
    transition: opacity 1s ease-in-out;
}

.sidebar-content {
    width: 100%;
    opacity: 0;
    pointer-events: all;
    margin-bottom: 15px;
    transition: opacity 2s;
    overflow: hidden;
}

.active-sidebar .sidebar-content {
    opacity: 1;
    pointer-events: visible;
    transition: opacity 2s;
}

.sidebar-content h2 {
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    font-weight: bold;
    letter-spacing: 1px;
    color: #fff;
    padding: 1em 0;
    background-color: var(--orange);
    white-space: nowrap;
    height: 25px;
    margin: 0;
    text-overflow: ellipsis;
    overflow: hidden;
}


.user-map-info {

    display: flex;
    flex-direction: column;
    align-items: center;
}

.user-map-info p {
    font-size: 14px;
}

.user-map-img {
    max-width: 120px;
    width: 100%;
    height: auto;
    object-fit: fill;

}

.map-desc-user {
    text-indent: initial;
    gap: 0.5em;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 16px 10px;

}

.ad-map {
    display: flex;
    align-items: center;
    gap: 2em;
    flex-direction: row;
    margin: 20px;
}

.ad-title {
    padding: 2px 0;
    text-align: center;
    text-shadow: var(--text-shadow);
    color: var(--grey);
    font-weight: 300;
}

.ad-scroll {

    overflow: scroll;
    flex-direction: column;
    height: 60%;
    min-height: 200px;
    z-index: 99999;
    transition: height 2s ease;
}

.ad-scroll h3 {
    text-align: center;
    margin: 35% auto;
    text-shadow: var(--text-shadow);
    color: var(--gray);
    font-weight: 300;
}

.ad-desc {
    align-items: center;
    justify-content: center;
    text-align: center;
    display: flex;
    flex-direction: column;
}



.ad-scroll::-webkit-scrollbar {
    width: 10px;
}

.ad-scroll::-webkit-scrollbar-track {
    background: transparent;
}

.ad-scroll::-webkit-scrollbar-thumb {
    background-color: var(--orange);
    border: 2px solid #f1f1f1;
    border-radius: var(--radius-input);
}

.ad-map img {
    width: 100px;
    height: auto;
    object-fit: fill;
    overflow: hidden;
}

.ad-map h3 {
    margin: 0;
    font-size: 1.2em;
}

.ad-map p {
    margin: 5px 0 0;
    font-size: 1em;
}


.active-sidebar .sidebar-map {
    width: 100%;
    transition: width 4s, max-width 4s;
}

.color-lines {
    width: 100%;
    height: 5px;
    background: linear-gradient(304deg, #1B6D4D, #E26020 22%, #BB1D3D 93%);
}

.color-lines-pipe {
    width: 100%;
    height: 4px;
    background: linear-gradient(325deg, #ffffff 0%, #777777 50%, #ffffff 100%);
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1), 0px 1px 3px rgba(0, 0, 0, 0.32);
}

@media (min-width: 600px) {
    .ad-scroll {
        height: 70%;
    }

    .user-map-info {
        flex-direction: row;
        justify-content: center;
    }
}



@media (min-width: 850px) {
    .sidebar-map {
        position: absolute;
        background-image: url('../../../../public/images/sign-up/background.jpg');

        left: 0;
        top: 0;
        width: 300px;
        height: 100%;
        box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
        overflow-y: auto;
        z-index: 9999;
        transform: translateX(-100%);
        display: flex;
        gap: 3rem;
        overflow: hidden;
        border-right: 1.2px solid rgba(0, 0, 0, 0.2);
        transition: transform 1.2s ease-in-out;
    }

    .user-map-info {
        flex-direction: row;
    }

    .user-map-info p {
        font-size: 16px;
    }

    .user-map-img {
        max-width: 220px;
        width: 100%;
        height: auto;
        object-fit: fill;

    }

    .color-line {
        width: 100%;
        height: 8px;
        background: linear-gradient(304deg, #1B6D4D, #E26020 22%, #BB1D3D 93%);
    }

    .active-sidebar .sidebar-map {
        max-width: 480px;
        width: 100%;
        transition: width 4s;
    }

    .ad-scroll {
        height: 35vh;
    }

    .ad-desc-user {
        flex: 0 0 65%;
        padding: initial;
    }

    .map-desc-user {
        margin: auto;
    }
}