.last-posts {
    width: 100%;
    padding: 4em 0;
}

.last-posts h2 {
    text-align: center;
    font-size: 2.5em;
    padding: 0 1em;

}

.home-posts {
    margin: 0 auto;
    padding: 2em 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3em;
}

.single-card {
    display: flex;
    flex-direction: column;
    padding: 0;
    min-height: 200px;


}

.single-card img {
    display: block;
    width: 100%;
    height: 200px;
    object-fit: cover;
    /* overflow: hidden; */
}

.card-info {
    display: flex;
    flex-direction: column;
    padding: 1.5em 1em;
    background: #f4f4f4;
    position: relative;

}

.card-info h4 {
    padding-top: 1em;
}

.color-line {
    width: 100%;
    height: 14px;
    background: linear-gradient(304deg, #1B6D4D, #E26020 22%, #BB1D3D 93%);
}

@media (min-width: 550px) {
    .single-card {
        flex-direction: row;
    }

    .single-card img {
        width: 40%;
        height: auto;
    }

    .color-line {
        display: none;
    }

    .card-info {
        justify-content: space-between;
    }

    .color-line-second {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        display: inline;
        height: 10px;
        background: linear-gradient(304deg, #1B6D4D, #E26020 22%, #BB1D3D 93%);
    }

}

@media (min-width: 750px) {
    .home-posts {
        flex-direction: row;
        flex-wrap: wrap;
        padding: 2em 0;
        width: 1100px;
        justify-content: center;
    }

    .single-card {
        min-height: 120px;
    }

    .single-card.card-1 {
        flex: 1 1 80%;
        justify-content: center;
        height: 150px;
    }

    .single-card.card-2 {
        flex: 0 0 42%;
        justify-content: center;
        height: 160px;

    }

    .single-card img {
        width: 40%;
        object-fit: cover;
    }
}