.forget-pass {
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1)), url("../../../public/images/sign-up/selfie-seniors2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    padding: var(--xl-space) 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-indent: initial;
}

.forget-pass-container {
    margin: 6em auto 2em auto;
    padding: 2em;
    display: flex;
    max-width: 600px;
    gap: 1em;
    height: 100%;
    flex-direction: column;
    border: 2px solid var(--gravel);
    background-color: var(--bg-white);
    box-shadow: 1px 1px 1px 0 var(--subtle)
}
.forget-pass-container h2 {
    text-shadow: var( --text-shadow);
}
.forget-pass-container p {
    font-size:calc(var(--xs-font-size) + 2px) ;
    opacity: 0.8;
}
.forget-pass-input {
    display: flex;
    flex-direction: column;
    padding-bottom: 1em;

}

.forget-pass-input input {
    border: 1px solid black;
    border-radius: var(--radius-input);
    padding: 0.5em;
}

.forget-pass-input label {
    color: var(--slate);
}

.forget-submit-btn {
    color: var(--text-white);
    background-color: var(--bg-black);
    font-size: var(--s-font-size);
    border-radius: var(--radius);
    padding: 0.7em 1.5em;
    font-weight: 500;
    cursor: pointer;
}
.forget-pass-container p>span {
    color: var(--text-black);
    font-weight: 900;
}
.forget-resend-btn{
    color: var(--text-black);
    background-color: var(--bg-white);
    font-size: var(--s-font-size);
    border-radius: var(--radius);
    border: 2px solid var(--bg-black);
    padding: 0.7em 1.5em;
    font-weight: 600;
    cursor: pointer;
}
.logo-forget-pass img{
    width: 80px;
    height: 60px;
    opacity: 0.6;
}
.logo-forget-pass a {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    font-size: var(--s-font-size);
    font-weight: 600;
    line-height: 25px;
    text-decoration: none;
    color: var(--gray);
}
.forget-pass-container>a{
   margin-top: 1em;
    font-size: var(--xs-font-size);
    font-weight: 600;
    line-height: 25px;
    text-decoration: none;
    color: var(--slate);
    text-shadow: var( --text-shadow);
    text-align: right;

}