.menu-community{
   position: sticky;
    display: flex ;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color: var( --green-cm-light);
    padding: 1em;
    bottom: 0;
}
.commun-menu-icons{
    font-size: var(--s-font-size);
    color: var(--green-cm)!important;
    transition: color 0.3s ease;
}
.commun-menu-icons.active {
    color: white!important;
}
@media (min-width: 768px) and (max-width: 1199px) {
    .after-header{
        display: none;
    }
    .menu-community{
        position: fixed;
        top: 0;
        bottom:0;
        left: 0;
        flex-direction:column-reverse;
        width: 7%;
        z-index: 1005;
    }
}
@media (min-width: 1200px) {
    .menu-community{
        display: none;
    }
    
}